html {
    font-size: 62.5%;
    
    @media(max-width: 1024px) {
        font-size: 50%;
    }
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    background-color: $base-color;
    color: $text-color;
}

.container {
    text-align: center;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}